/engineering_plane-backups
unmanned_monoplane_pcb_checklist.md
/.history
/bom
/171856-4003
/171857-0003
/BMI270
/BMP390
/LP5907MFX-3.3_NOPB
/~engineering_plane.kicad_pro.lck
/~engineering_plane.kicad_sch.lck
/~engineering_plane.kicad_pcb.lck
/fabrication-toolkit-options.json
/fabrication-toolkit-options.json
/production
/_restore_backup_2026-09-23T20-09-12-771
/_restore_backup_2026-09-23T16-49-55-249
